.App {
    margin: 20px;
}

.login-btn {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.login-btn div {
    margin-left: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 20px auto 40px auto;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    margin: auto 1.5vw;
    cursor: pointer;
}

.menu li:hover {
    text-decoration-line: underline;
}

.nav {
    margin-bottom: 5%;
}

.menuWrap {
    display: grid;
    grid-template-columns: 10fr 1fr;
    position: relative;
    right: 50%;
    transform: translateX(55%);
}

.search {
    display: flex;
    margin-right: 5vw;
}

.search input[type='text'] {
    margin-left: 10px;
    font-size: 12px;
    border: 0;
    outline: none;
    padding-left: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #333;
}

.cardWarp {
    display: flex;
}
