@media screen and (min-width: 375px) and (max-width: 1339px) {
    .menuBar {
        margin-bottom: 5%;
        padding-left: 15px;
        font-size: 1.2rem;
    }

    .closeBtn {
        position: absolute;
        z-index: 5;
        padding-left: 4px;
        top: 30vw;
    }

    .menuWrap {
        padding-left: 15px;
        position: absolute;
        z-index: 4;
        background-color: #fff;
        height: -webkit-fill-available;
        width: 84%;
        top: -20px;
        left: -20px;
        padding-top: 50vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .login-btn {
        padding-right: 15px;
    }

    .menu {
        display: block;
    }

    .hide {
        display: none !important;
    }

    .search {
        margin-left: 15px;
    }

    .pro-img img {
        width: -webkit-fill-available;
    }

    .detailBtn {
        width: 100%;
    }

    .dropDownWrap {
        margin: 20px 0;
    }
}

.App {
    margin: 20px;
    position: relative;
}

.login-btn {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    padding: 1vw 1vw 0 0;
    line-height: 15px;
    cursor: pointer;
}

.login-btn:hover {
    font-weight: bold;
}

.login-btn div {
    margin-left: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 20px auto 40px auto;
}
.cardWarp {
    cursor: pointer;
    margin-bottom: 2vw;
    padding-bottom: 5%;
}

.cardWarp:hover {
    transform: scale(0.98);
}
.cardWarp img {
    width: -webkit-fill-available;
}

.cardImg {
    position: relative;
}

.cardImgNew {
    position: absolute;
    font-size: 0.8rem;
    background-color: #fff;
    margin: 10px;
    padding: 5px 10px;
    z-index: 2;
}
.menu li {
    margin: auto 1.5vw;
    cursor: pointer;
}

.menu li:hover {
    text-decoration-line: underline;
}

.search {
    display: flex;
    padding: 1vw 1vw 0 0;
}

.search input[type='text'] {
    margin-left: 10px;
    font-size: 12px;
    border: 0;
    outline: none;
    padding-left: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #333;
}
.detail-price {
    font-size: 22px;
    font-weight: 800;
    color: #000000;
    margin-top: 5px;
    padding-bottom: 20px;
}

.cardImgNewDetail {
    background-color: #92929222;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 10px;
    width: 50px;
}

.sizeBtn {
    width: 100%;
    text-align: left;
    border: 1px solid #ddd;
    background: #fff;
    color: #666;
}
.cardTitle {
    overflow: hidden;
    display: -webkit-box;
    max-height: calc(2.6em);
    font-size: 14px;
    font-weight: 300;
    overflow-wrap: break-word;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 10px;
}

.detail-title {
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 20px;
}

.cardPrice {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 18px 0 16px;
}
.wrapTitlePrice {
    box-shadow: rgb(238, 238, 238) 0px -1px 0px inset;
}
@media screen and (min-width: 1339px) {
    .menuBar {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        padding-left: 28%;
    }

    .navBar {
        margin-bottom: 5%;
    }

    .menuWrap {
        display: flex;
        justify-content: space-between;
    }

    .pro-img {
        display: flex;
        justify-content: flex-end;
    }

    .detail-get-button {
        margin-top: 50px;
        padding: 10px;
        width: 100%;
    }
}
