@media screen and (min-width: 375px) and (max-width: 1339px) {
    .menuBar {
        margin-bottom: 5%;
        padding-left: 15px;
        font-size: 1.2rem;
    }

    .menuWrap {
        padding-left: 15px;
        position: absolute;
        z-index: 999;
        background-color: #fff;
        height: 100%;
        width: 50%;
    }

    .login-btn {
        padding-right: 15px;
    }

    .menu {
        display: block;
    }

    .hide {
        display: none !important;
    }
}

.App {
    margin: 20px;
    position: relative;
}

.login-btn {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    padding: 1vw 1vw 0 0;
    line-height: 15px;
    cursor: pointer;
}

.login-btn:hover {
    font-weight: bold;
}

.login-btn div {
    margin-left: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 20px auto 40px auto;
}
.cardWarp {
    cursor: pointer;
    margin-bottom: 2vw;
}

.cardWarp:hover {
    transform: scale(0.98);
}
.cardWarp img {
    width: -webkit-fill-available;
}

.cardImg {
    position: relative;
}

.cardImgNew {
    position: absolute;
    font-size: 0.8rem;
    background-color: #fff;
    margin: 10px;
    padding: 5px 10px;
    z-index: 99;
}
.menu li {
    margin: auto 1.5vw;
    cursor: pointer;
}

.menu li:hover {
    text-decoration-line: underline;
}
@media screen and (min-width: 1339px) {
    .menuBar {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        padding-left: 28%;
    }

    .navBar {
        margin-bottom: 5%;
    }

    .menuWrap {
        display: flex;
        justify-content: space-between;
    }

    .search {
        display: flex;
        padding: 1vw 1vw 0 0;
    }

    .search input[type='text'] {
        margin-left: 10px;
        font-size: 12px;
        border: 0;
        outline: none;
        padding-left: 10px;
        padding-bottom: 3px;
        border-bottom: 1px solid #333;
    }

    .pro-img {
        display: flex;
        justify-content: flex-end;
    }

    .detail-title {
        font-size: 1.9rem;
    }

    .detail-price {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .detail-get-button {
        margin-top: 50px;
        padding: 10px;
        width: 100%;
    }
}
